@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnReset').click(function () {
            var companyCode = $("#CompanyCode").val();
            var companyName = $("#CompanyName").val();
            var companyAddress = $("#Address").val();
            ResetData();
            $("#CompanyCode").val(companyCode);
            $("#CompanyName").val(companyName);
            $("#Address").val(companyAddress);
            $("#ItemWindowGrid").data("kendoGrid").dataSource.data([]);
            $("#frameID").attr("height", 0);
            $("#frameID").attr("src", "");
            $("#Tab3FileGrid1").data("kendoGrid").dataSource.data([]);
        });

        $("#btnRevisionTab3").click(function () {
            $('#Tab3AnnexId').val('');
            $('#Tab3AnnexRevisionNo').val('');
            var options = new Array();
            options.push('<option value="">--Select Any--</option>');
            options.push('<option value="Renew">Renew</option>');
            options.push('<option value="Annexure Amendment">Annexure Amendment</option>');
            options.push('<option value="Packaging Amendment">Packaging Amendment</option>');
            $("#RecordStatus").html(options.join(''));
            $("#Tab3FileGrid1").data("kendoGrid").dataSource.data([]);
        });

        $('#RecordStatus').change(function () {
            var status = $('#RecordStatus').val();
            if (status == "Renew") {
                $("#divRenew").find('input, textarea, select').val('');
            }
            CheckPagePartAccessPrivilegeTab($('#CompanyCode').val(), ButtonEvent, status);
        });

        $('.input-group.date').datepicker({
            format: "d/mm/yyyy",
            autoclose: true,
            todayHighlight: true
        });

        var activeTabIndex = 0;
        var ButtonEvent = '';

        if (sessionStorage.getItem('activeTabIndex') !== null) {
            activeTabIndex = parseInt(sessionStorage.getItem('activeTabIndex'), 10);
        }

        var keyOption = sessionStorage.getItem('keyOption');
        if (keyOption === "Employment") {
            activeTabIndex = 2;
        } else if (keyOption === "Entry License Info") {
            activeTabIndex = 0;
        }

        $('#tabs').tabs({
            active: activeTabIndex,
            activate: function (event, ui) {
                var newActiveTabIndex = $('#tabs').tabs("option", "active");
                sessionStorage.setItem('activeTabIndex', newActiveTabIndex);
                var activeTabText = $("#btnList li:nth-child(" + (newActiveTabIndex + 1) + ") a").text();
                sessionStorage.setItem('keyOption', activeTabText);
                ButtonEvent = activeTabText;
                GetView($('#CompanyCode').val(), ButtonEvent);
                $("#btnList li").removeClass('active-tab');
                $("#btnList li:nth-child(" + (newActiveTabIndex + 1) + ")").addClass('active-tab');
            }
        });

        $('#CompanyCode').val(sessionStorage.getItem('keyCompanyCode'));

        var initialButtonEvent = sessionStorage.getItem('keyOption') || "Entry License Info";
        ButtonEvent = initialButtonEvent;
        GetView($('#CompanyCode').val(), ButtonEvent);

        $("#btnList li").removeClass('active-tab');
        $("#btnList li:nth-child(" + (activeTabIndex + 1) + ")").addClass('active-tab');

        $("#btnList li").click(function () {
            ButtonEvent = $(this).text();
            GetView($('#CompanyCode').val(), ButtonEvent);
            $("#btnList li").removeClass('active-tab');
            $(this).addClass('active-tab');
        });

        function GetView(CompanyCode, ButtonEvent) {debugger
            switch (ButtonEvent) {
                case "View Item":
                    $('#btnReset').prop('disabled', true);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', true);
                    GetNarcoticsDetails('/Regulatory/TabNarcotics/GetNarcoticItems');
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "Setup Info":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "Entry Item Info":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "Price":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "MA Certification":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                default:
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
            }
        }

        function GetCompanyDetails(URL, CompanyCode, ButtonEvent) {
            $.ajax({
                url: URL,
                data: JSON.stringify({ CompanyCode: CompanyCode, ButtonEvent: ButtonEvent }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        SetDetailData(data);
                    } else {
                        toastr.success("Data not found!");
                    }
                },
                error: function () {
                    alert('Error occurred!');
                }
            });
        }

        function GetNarcoticsDetails(URL) {
            $.ajax({
                url: URL,
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    if (data && data.length > 0) {
                        InitializeNarcoticsGrid(data);
                    } else {
                        toastr.info("No data found!");
                        var grid = $("#narcoticsGrid").data("kendoGrid");
                        if (grid) {
                            grid.dataSource.data([]);
                        }
                    }
                },
                error: function () {
                    alert('Error occurred while fetching items.');
                }
            });
        }

        function InitializeNarcoticsGrid(data) {
            var originalData = data.slice();
            var grid = $("#narcoticsGrid").data("kendoGrid");

            if (!grid) {
                grid = $("#narcoticsGrid").kendoGrid({
                    dataSource: {
                        data: originalData,
                        pageSize: 10,
                        schema: {
                            model: {
                                fields: {
                                    NarcoticSetupSl: { type: "number" },
                                    GenericName: { type: "string" }
                                }
                            }
                        }
                    },
                    height: 400,
                    scrollable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                        { field: "NarcoticSetupSl", title: "ID", width: 100 },
                        { field: "GenericName", title: "Generic/Brand Name" }
                    ],
                    toolbar: [
                        "excel",
                        {
                            template: '<input id="narcoticsSearchBox" type="text" placeholder="Search..." style="float:right; margin: 0 10px; width: 200px;" />'
                        }
                    ],
                    excel: {
                        fileName: "Narcotics_Export.xlsx",
                        allPages: true
                    }
                }).data("kendoGrid");

                grid.element.data("originalData", originalData);

                $("#narcoticsSearchBox").on("keyup", function () {
                    var searchValue = this.value.toLowerCase();
                    var grid = $("#narcoticsGrid").data("kendoGrid");
                    var originalData = grid.element.data("originalData");

                    if (!searchValue) {
                        grid.dataSource.data(originalData);
                        return;
                    }

                    var filteredData = $.grep(originalData, function (item) {
                        return (
                            (item.NarcoticSetupSl && item.NarcoticSetupSl.toString().toLowerCase().includes(searchValue)) ||
                            (item.GenericName && item.GenericName.toLowerCase().includes(searchValue))
                        );
                    });

                    grid.dataSource.data(filteredData);
                });
            } else {
                grid.dataSource.data(data);
                grid.element.data("originalData", data.slice());
                $("#narcoticsSearchBox").val("");
            }
        }

        function SetDetailData(data) {
            if (!data || !Array.isArray(data) || data.length === 0) {
                toastr.error("No data found!");
                return;
            }
            for (var i = 0; i < data.length; i++) {
                const item = data[i];
                $.each(item, function (key, value) {
                    $('#' + key).val(value);
                });
            }
        }

        var ViewPopupWindow = $("#ViewPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Narcotics"
        }).data("kendoWindow").center();

        $('#btnView').click(function () {debugger
            var activeTabIndex = $("#tabs").tabs("option", "active");

            if (activeTabIndex === 0) {
                ViewPopupWindow.open();
                $.ajax({
                    url: '/Regulatory/TabNarcotics/GetViewItems',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {debugger
                        if (data && data.length > 0) {
                            originalGridData = data.slice();
                            PopupGrid.setOptions({
                                columns: [
                                    { field: "GenericName", title: "Generic Name", width: 200 },
                                    { field: "NarcoticSetupSl", title: "Setup ID", width: 100 }
                                ]
                            });
                            PopupGrid.dataSource.data(data);
                            $('#txtPopupInput').val('');
                        } else {
                            ViewPopupWindow.close();
                            AcknowledgeMsg();
                        }
                    },
                    error: function () {
                        alert('Error occurred while loading narcotic items');
                        ViewPopupWindow.close();
                    }
                });
            } else if (activeTabIndex === 2) {
                ViewPopupWindow.open();
                $.ajax({
                    url: '/Regulatory/TabNarcotics/GetEntryInfoItems',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.length > 0) {
                            originalGridData = data.slice();
                            PopupGrid.setOptions({
                                columns: [
                                    { field: "ItemName", title: "Item Name", width: 200 },
                                    { field: "FiscalYear", title: "Fiscal Year", width: 100 },
                                    { field: "AnnualQuota", title: "Annual Quota", width: 100 },
                                    { field: "SubmissionType", title: "Submission Type", width: 120 },
                                    { field: "ApprovedQuantity", title: "Approved Qty", width: 100 }
                                ]
                            });
                            PopupGrid.dataSource.data(data);
                            $('#txtPopupInput').val('');
                            
                        } else {
                            ViewPopupWindow.close();
                            AcknowledgeMsg();
                        }
                    },
                    error: function () {
                        alert('Error occurred while loading entry items');
                        ViewPopupWindow.close();
                    }
                });
            } else {
                toastr.warning("View operation is not configured for this tab.");
            }
        });


        function loadUploadedFiles(genericBrandId, documentName) {
            $.ajax({
                url: '/Regulatory/TabNarcotics/GetUploadedFiles',
                method: 'GET',
                data: {
                    genericBrandId: genericBrandId,
                    documentName: documentName
                },
                success: function (result) {
                    if (result && Array.isArray(result)) {
                        $("#Tab3FileGrid1").data("kendoGrid").dataSource.data(result);
                    } else {
                        toastr.warning("No uploaded files found.");
                    }
                },
                error: function () {
                    toastr.error("Error loading uploaded files.");
                }
            });
        }



        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true,
                buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: ["excel", { template: "<input type='text' id='txtPopupInput' style='float:right' placeholder='Search...' class='k-textbox'>" }],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: []
        }).data('kendoGrid');

        var originalGridData = [];

        $(document).on('keyup', '#txtPopupInput', function () {
            var searchValue = this.value.toLowerCase();
            var grid = PopupGrid;

            if (!searchValue) {
                grid.dataSource.data(originalGridData);
                return;
            }

            var filteredData = $.grep(originalGridData, function (item) {
                for (var key in item) {
                    if (item.hasOwnProperty(key) && typeof item[key] === 'string') {
                        if (item[key].toLowerCase().includes(searchValue)) {
                            return true;
                        }
                    }
                    if (item.hasOwnProperty(key) && typeof item[key] === 'number') {
                        if (item[key].toString().includes(searchValue)) {
                            return true;
                        }
                    }
                }
                return false;
            });

            grid.dataSource.data(filteredData);
        });

        $('#PopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            ViewPopupWindow.close();

            var activeTabIndex = $("#tabs").tabs("option", "active");
            if (activeTabIndex === 0) {
                SetMasterData(selectRow);
            } else if (activeTabIndex === 2) {
                SetEntryItemData(selectRow);
            }
        });

        function SetEntryItemData(data) {debugger
            $('#NarcoticEntrySl').val(data.NarcoticEntrySl);
            $('#GenericBrandId').val(data.GenericBrandId);
            $('#GENERIC_BRAND_ID').val(data.ItemName);
            $('#FiscalYear').val(data.FiscalYear);
            $('#AnnualQuota').val(data.AnnualQuota);
            $('#SubmissionType').val(data.SubmissionType);
            $('#SubmissionQuantity').val(data.SubmissionQuantity);
            $('#ApprovedQuantity').val(data.ApprovedQuantity);
            $('#RecordStatus').val(data.RecordStatus);

            $('#DgdaReceiveDate').val(formatDate(data.DgdaReceiveDate));
            $('#DgdaSubmissionDate').val(formatDate(data.DgdaSubmissionDate));
            $('#DgdaRecommendationDate').val(formatDate(data.DgdaRecommendationDate));
            $('#RecSendDate').val(formatDate(data.RecSendDate));
            $('#InsReceiveDate').val(formatDate(data.InsReceiveDate));
            $('#DivSendDate').val(formatDate(data.DivSendDate));
            $('#DivNarcRecvDate').val(formatDate(data.DivNarcRecvDate));
            $('#DncSendDate').val(formatDate(data.DncSendDate));
            $('#NarcApvlDate').val(formatDate(data.NarcApvlDate));

            if (data.GenericBrandId && data.ItemName) {
                loadUploadedFiles(data.GenericBrandId, data.ItemName);
            }
        }

        function formatDate(date) {
            if (!date) return '';
            var d = new Date(parseInt(date.substr(6)));
            return d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
        }

        function formatDateForBackend(dateString) {
            if (!dateString) return null;
            var parts = dateString.split('/');
            if (parts.length === 3) {
                return parts[2] + '-' + parts[1] + '-' + parts[0];
            }
            return dateString;
        }
        //============SAVE==============================
        @*$('#btnSave').click(function () {debugger
            var activeTabIndex = $("#tabs").tabs("option", "active");
            var userId = $('#UserId').val();

            if (activeTabIndex === 0) {debugger
                var Input = InputValidation('GenericName');
                if (Input == 0) {
                    var master = {};
                    master.GenericName = $('#GenericName').val();
                    master.NarcoticSetupSl = $('#NarcoticSetupSl').val();
                    master.SetOn = $('#SetOn').val();
                    master.SetBy = $('#SetBy').val();
                    $.ajax({
                        url: '/Regulatory/TabNarcotics/frmTabNarcotics',
                        data: JSON.stringify(master),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                OperationMsg(data.Mode);
                            } else {
                                ErrorFrmServerMsg(data.Status);
                            }
                        }
                    });
                } else {
                    ValidationMsg();
                }
            } else if (activeTabIndex === 2) {debugger
                var checkInput = InputValidation('DocumentName');
                if (checkInput != 0) {
                    toastr.error(OperationMsg("SDN"));
                    return;
                }
                debugger
                var entryItem = {
                    NarcoticEntrySl: $('#NarcoticEntrySl').val(),
                    GenericBrandId: $('#GenericBrandId').val(),
                    ItemName: $('#GENERIC_BRAND_ID').val(),
                    FiscalYear: $('#FiscalYear').val(),
                    AnnualQuota: $('#AnnualQuota').val(),
                    SubmissionType: $('#SubmissionType').val(),
                    SubmissionQuantity: $('#SubmissionQuantity').val(),
                    ApprovedQuantity: $('#ApprovedQuantity').val(),
                    RecordStatus: $('#RecordStatus').val(),
                    DgdaReceiveDate: formatDateForBackend($('#DgdaReceiveDate').val()),
                    DgdaSubmissionDate: formatDateForBackend($('#DgdaSubmissionDate').val()),
                    DgdaRecommendationDate: formatDateForBackend($('#DgdaRecommendationDate').val()),
                    RecSendDate: formatDateForBackend($('#RecSendDate').val()),
                    InsReceiveDate: formatDateForBackend($('#InsReceiveDate').val()),
                    DivSendDate: formatDateForBackend($('#DivSendDate').val()),
                    DivNarcRecvDate: formatDateForBackend($('#DivNarcRecvDate').val()),
                    DncSendDate: formatDateForBackend($('#DncSendDate').val()),
                    NarcApvlDate: formatDateForBackend($('#NarcApvlDate').val())
                };
                debugger
                var files = $('#UploadFile')[0].files;
                var refLevel1 = $("#GenericBrandId").val();
                var refNo = $("#DocumentName").val();

                if (!refLevel1) {
                    toastr.warning(OperationMsg("FI"));
                    return;
                }

                var formData = new FormData();
                formData.append("entryItem", JSON.stringify(entryItem));

                var fileSize = 0;
                var fSizeStrg = "";
                if (files.length > 0) {
                    for (var f = 0; f < files.length; f++) {
                        var fileExtension = files[f].name.split('.').pop().toLowerCase();
                        if (fileExtension !== 'pdf') {
                            toastr.warning("Only PDF files are allowed.");
                            return;
                        }
                        var iSize = (files[f].size / 1024);
                        fileSize = (Math.round((iSize / 1024) * 100) / 100);
                        if (fSizeStrg != "") {
                            fSizeStrg += ',' + fileSize;
                        } else {
                            fSizeStrg = fileSize;
                        }
                        if (iSize / 1024 > 25) {
                            iSize = (Math.round((iSize / 1024) * 100) / 100);
                            toastr.warning('File size is ' + iSize + ' MB. Maximum allowed size is 25 MB.');
                            return;
                        }
                        formData.append("file" + f, files[f]);
                    }
                }

                $("#divLoading").show();debugger
                $.ajax({
                    url: '@Url.Action("UploadFile", "TabNarcotics")' + '?refLevel1=' + refLevel1 + '&refLevel2=' + "" + '&fileSize=' + fSizeStrg + '&refNo=' + refNo,
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {debugger
                        $("#divLoading").hide();
                        if (result.Status == "Yes" && result.msgType == "FUS") {debugger
                            toastr.success("Entry item and file saved successfully!");
                            $("#Tab3FileGrid1").data("kendoGrid").dataSource.data(result.FileList);
                            $('#tab3Form input').val('');
                        } else if (result.msgType == "FLI") {
                            toastr.warning(OperationMsg("FLI"));
                        } else {
                            toastr.error(result.Status || "Error saving data or uploading file.");
                        }
                    },
                    error: function () {
                        $("#divLoading").hide();
                        toastr.error("Error occurred while saving data or uploading file.");
                    }
                });
            } else {
                toastr.warning("Save operation is not configured for this tab.");
            }
        });*@

        $('#btnSave').click(function () {
            var activeTabIndex = $("#tabs").tabs("option", "active");
            var userId = $('#UserId').val();

            if (activeTabIndex === 0) {
                var Input = InputValidation('GenericName');
                if (Input == 0) {
                    var master = {};
                    master.GenericName = $('#GenericName').val();
                    master.NarcoticSetupSl = $('#NarcoticSetupSl').val();
                    master.SetOn = $('#SetOn').val();
                    master.SetBy = $('#SetBy').val();
                    $.ajax({
                        url: '/Regulatory/TabNarcotics/frmTabNarcotics',
                        data: JSON.stringify(master),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                OperationMsg(data.Mode);
                            } else {
                                ErrorFrmServerMsg(data.Status);
                            }
                        }
                    });
                } else {
                    ValidationMsg();
                }
            } else if (activeTabIndex === 2) {
                var checkInput = InputValidation('DocumentName');
                if (checkInput != 0) {
                    toastr.error(OperationMsg("SDN"));
                    return;
                }

                var entryItem = {
                    NarcoticEntrySl: $('#NarcoticEntrySl').val(),
                    GenericBrandId: $('#GenericBrandId').val(),
                    ItemName: $('#GENERIC_BRAND_ID').val(),
                    FiscalYear: $('#FiscalYear').val(),
                    AnnualQuota: $('#AnnualQuota').val(),
                    SubmissionType: $('#SubmissionType').val(),
                    SubmissionQuantity: $('#SubmissionQuantity').val(),
                    ApprovedQuantity: $('#ApprovedQuantity').val(),
                    RecordStatus: $('#RecordStatus').val(),
                    DgdaReceiveDate: formatDateForBackend($('#DgdaReceiveDate').val()),
                    DgdaSubmissionDate: formatDateForBackend($('#DgdaSubmissionDate').val()),
                    DgdaRecommendationDate: formatDateForBackend($('#DgdaRecommendationDate').val()),
                    RecSendDate: formatDateForBackend($('#RecSendDate').val()),
                    InsReceiveDate: formatDateForBackend($('#InsReceiveDate').val()),
                    DivSendDate: formatDateForBackend($('#DivSendDate').val()),
                    DivNarcRecvDate: formatDateForBackend($('#DivNarcRecvDate').val()),
                    DncSendDate: formatDateForBackend($('#DncSendDate').val()),
                    NarcApvlDate: formatDateForBackend($('#NarcApvlDate').val())
                };

                var files = $('#UploadFile')[0].files;
                var refLevel1 = $("#GenericBrandId").val();
                var refNo = $("#DocumentName").val();

                if (!refLevel1) {
                    toastr.warning(OperationMsg("FI"));
                    return;
                }

                // First, save the entry item
                $("#divLoading").show();

                $.ajax({
                    url: '/Regulatory/TabNarcotics/SaveTab3EntryItem', // Make sure this matches your controller action
                    data: JSON.stringify(entryItem),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (entryResult) {
                        if (entryResult.Status == "Yes") {
                            // Entry item saved successfully, now handle file upload if there are files
                            if (files.length > 0) {
                                // Validate files
                                var formData = new FormData();
                                formData.append("entryItem", JSON.stringify(entryItem));

                                var fileSize = 0;
                                var fSizeStrg = "";
                                var isValidFiles = true;

                                for (var f = 0; f < files.length; f++) {
                                    var fileExtension = files[f].name.split('.').pop().toLowerCase();
                                    if (fileExtension !== 'pdf') {
                                        toastr.warning("Only PDF files are allowed.");
                                        $("#divLoading").hide();
                                        return;
                                    }
                                    var iSize = (files[f].size / 1024);
                                    fileSize = (Math.round((iSize / 1024) * 100) / 100);
                                    if (fSizeStrg != "") {
                                        fSizeStrg += ',' + fileSize;
                                    } else {
                                        fSizeStrg = fileSize;
                                    }
                                    if (iSize / 1024 > 25) {
                                        iSize = (Math.round((iSize / 1024) * 100) / 100);
                                        toastr.warning('File size is ' + iSize + ' MB. Maximum allowed size is 25 MB.');
                                        $("#divLoading").hide();
                                        return;
                                    }
                                    formData.append("file" + f, files[f]);
                                }

                                // Upload files
                                $.ajax({
                                    url: '@Url.Action("UploadFile", "TabNarcotics")' + '?refLevel1=' + refLevel1 + '&refLevel2=' + "" + '&fileSize=' + fSizeStrg + '&refNo=' + refNo,
                                    type: 'POST',
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    success: function (result) {
                                        $("#divLoading").hide();
                                        if (result.Status == "Yes" && result.msgType == "FUS") {
                                            toastr.success("Entry item and file saved successfully!");
                                            $("#Tab3FileGrid1").data("kendoGrid").dataSource.data(result.FileList);
                                            $('#tab3Form input').val('');
                                        } else if (result.msgType == "FLI") {
                                            toastr.warning(OperationMsg("FLI"));
                                        } else {
                                            toastr.error(result.Status || "Error uploading file.");
                                        }
                                    },
                                    error: function () {
                                        $("#divLoading").hide();
                                        toastr.error("Error occurred while uploading file.");
                                    }
                                });
                            } else {
                                // No files to upload, just show success message
                                $("#divLoading").hide();
                                toastr.success("Entry item saved successfully!");
                                $('#tab3Form input').val('');
                            }
                        } else {
                            $("#divLoading").hide();
                            toastr.error(entryResult.Status || "Error saving entry item.");
                        }
                    },
                    error: function () {
                        $("#divLoading").hide();
                        toastr.error("Error occurred while saving entry item.");
                    }
                });
            } else {
                toastr.warning("Save operation is not configured for this tab.");
            }
        });

        var ItemWindow = $("#ItemWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Item."
        }).data("kendoWindow").center();

        $('#btnFind').click(function () {
            ItemWindow.open();
            $.ajax({
                url: '@Url.Action("GetAllItems", "TabNarcotics")',
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#ItemWindowGrid').data('kendoGrid').dataSource.data(data);
                    } else {
                        ItemWindow.close();
                        AcknowledgeMsg();
                    }
                }
            });
        });

        var itemGrid = $('#ItemWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "GenericBrandId",
                        fields: {
                            CompanyCode: { type: "decimal" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                pageSizes: true,
                buttonCount: 10
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtItemKeyword' style='float:right' placeholder='Search...' class='k-textbox'>" }],
            navigatable: true,
            height: 430,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                { field: "NarcoticSetupSl", title: "ItemCode", width: 80 },
                { field: "GenericName", title: "ItemName", width: 100, filterable: { multi: true } }
            ]
        }).data('kendoGrid');

        $('#ItemWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            $('#NarcoticSetupSl').val(selectRow.NarcoticSetupSl);
            $('#GenericBrandId').val(selectRow.NarcoticSetupSl);
            $('#GENERIC_BRAND_ID').val(selectRow.GenericName);
            ItemWindow.close();
            changeAny = 1;
        });

        $("#txtItemKeyword").keyup(function () {
            var val = $(this).val();
            $("#ItemWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "GenericName", operator: "contains", value: val }
                ]
            });
        });

        var fileDataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "FileID",
                    fields: {
                        FileID: { editable: false },
                        FileCode: { editable: false },
                        Extention: { editable: false },
                        FileName: { editable: false },
                        RefNo: { editable: false },
                        FileSize: { editable: false },
                        SetOn: { editable: false },
                        SetByName: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        var fileGrid = $('#Tab3FileGrid1').kendoGrid({
            dataSource: fileDataSource,
            pageable: {
                pageSizes: true,
                buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtFileInput' style='float:right' placeholder='Search...' class='k-textbox'>" }],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                { field: "FileID", hidden: true },
                { field: "FileCode", hidden: true },
                { field: "Extention", hidden: true },
                { field: "RefNo", title: "Document Name", width: 200, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "FileName", title: "File Name", width: 300, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
                { command: [{ name: "Delete", text: "Delete", imageClass: "glyphicon glyphicon-trash", click: handleFileDelete }], title: "Delete Action", width: "120px", attributes: { "class": "btnDelete" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');

        $("#txtFileInput").keyup(function () {
            var val = $(this).val();
            $("#Tab3FileGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "RefNo", operator: "contains", value: val },
                    { field: "FileName", operator: "contains", value: val },
                    { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        function handleFileDelete(event) {
            var dataItemInfo = fileGrid.dataItem($(event.currentTarget).closest("tr"));
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteFile", "General")',
                    type: 'POST',
                    data: JSON.stringify({ "fileId": dataItemInfo.FileID, "fileCode": dataItemInfo.FileCode, "extention": dataItemInfo.Extention }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        if (response.Status == "Yes") {
                            toastr.success(OperationMsg("FD"));
                            $("#Tab3FileGrid1").data("kendoGrid").dataSource.remove(dataItemInfo);
                        } else {
                            toastr.error(OperationMsg("FND"));
                        }
                    }
                });
            }
        }

        function handleDownload(event) {
            var dataItemInfo = fileGrid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        }
    });
</script>

<div id="tabs">
    <ul id="btnList">
        <li><a href="#tabs-1">Setup Info</a></li>
        <li><a href="#tabs-2">View Item</a></li>
        <li><a href="#tabs-3">Entry Item Info</a></li>
    </ul>

    <div class="box-header with-border">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div class="input-group">
                    <input type="text" id="CompanyCode" name="CompanyCode" placeholder="Company Code" readonly="readonly" class="RequiredField form-control input-sm" />
                    <span class="input-group-btn" style="width:0px;"></span>
                    <input type="text" id="CompanyName" name="CompanyName" placeholder="Company Name" readonly="readonly" class="RequiredField form-control input-sm" />
                    <span class="input-group-btn" style="width:0px;"></span>
                    <input type="text" id="Address" name="Address" placeholder="Company Address" readonly="readonly" class="RequiredField form-control input-sm" />
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"><div id="MessageText" style="text-align:center"></div></div>
            <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                <div style="text-align:right;">
                    <button id="btnReset" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
                    <button id="btnSave" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
                    <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-1">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">Generic/Brand Name :</div>
                <div class="col-xs-0 col-sm-6 col-md-3 col-lg-3">
                    <input type="text" id="GenericName" name="GenericName" maxlength="300" placeholder="Enter Generic / Brand Name" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div id="tabs-2">
        <div id="tab2Content">
            <div id="narcoticsGrid"></div>
        </div>
    </div>

    <div id="tabs-3">
        <div class="box-body">
            <div class="form-group">
                <fieldset class="panel-border">
                    <legend class="panel-border">Entry Info :</legend>
                    <div class="form-group">
                        <div class="row">
                            <input type="hidden" id="GenericBrandId" name="GenericBrandId" />
                            <input type="hidden" id="NarcoticEntrySl" name="NarcoticEntrySl" />
                            <div class="col-sm-2">Item Name<span style="color: red">*</span> : </div>
                            <div class="col-sm-2">
                                <input type="text" id="GENERIC_BRAND_ID" name="GENERIC_BRAND_ID" class="form-control txtBox" readonly />
                            </div>
                            <div class="col-sm-1"><button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button></div>
                            <div class="col-sm-2" hidden>Item Code<span style="color: red">*</span> : </div>
                            <div class="col-sm-1" hidden>
                                <input type="text" id="NarcoticSetupSl" name="NarcoticSetupSl" class="form-control txtBox" />
                            </div>
                            <div class="col-sm-2">Fiscal Year :</div>
                            <div class="col-sm-2">
                                <input type="text" id="FiscalYear" name="FiscalYear" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">Annual Quota :</div>
                            <div class="col-sm-2">
                                <input type="text" id="AnnualQuota" name="AnnualQuota" class="form-control" />
                            </div>
                            <div class="col-sm-2">Submission Type : </div>
                            <div class="col-sm-2">
                                <select id="SubmissionType" name="SubmissionType" class="form-control">
                                    <option value="Import Permit">Import Permit</option>
                                    <option value="Export">Export</option>
                                    <option value="New license">New license</option>
                                    <option value="Quota allocation & Endorsement">Quota allocation & Endorsement</option>
                                    <option value="Endorsement">Endorsement</option>
                                    <option value="Quota Increase">Quota Increase</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col-sm-2">Submission Quantity :</div>
                            <div class="col-sm-2">
                                <input type="text" id="SubmissionQuantity" name="SubmissionQuantity" class="form-control" placeholder="Submission Quantity" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">Approved Quantity :</div>
                            <div class="col-sm-2">
                                <input type="text" id="ApprovedQuantity" name="ApprovedQuantity" class="form-control" placeholder="Approved Quantity" />
                            </div>
                            <div class="col-sm-2">Record Status :</div>
                            <div class="col-sm-2">
                                <select id="RecordStatus" class="form-control txtBox" tabindex="" name="RecordStatus"></select>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnRevisionTab3" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-plus"></i>Renew/Amendment</button>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group" id="divDGDA">
                <fieldset class="panel-border">
                    <legend class="panel-border">DGDA:</legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Received Date : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DgdaReceiveDate" name="DgdaReceiveDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Submission Date : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DgdaSubmissionDate" name="DgdaSubmissionDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Recommendation Approval Date : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DgdaRecommendationDate" name="DgdaRecommendationDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group" id="divDNCLoc">
                <fieldset class="panel-border">
                    <legend class="panel-border">DNC Local Office : </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Date of Recommendation sent to Local Narcotics office : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="RecSendDate" name="RecSendDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-2 col-lg-3">Date of Inspection Report Received from local Narcotics office : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="InsReceiveDate" name="InsReceiveDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group" id="divDNCDiv">
                <fieldset class="panel-border">
                    <legend class="panel-border">DNC Divisional Office : </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Date of Inspection Report Submission to DNC Divisional office : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DivSendDate" name="DivSendDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-2 col-lg-3">Date of Inspection Report Received from Divisional Narcotics office: </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DivNarcRecvDate" name="DivNarcRecvDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group" id="divDNCHead">
                <fieldset class="panel-border">
                    <legend class="panel-border">DNC Head Office : </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">Date of Inspection Report Submission to DNC Head office : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="DncSendDate" name="DncSendDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-2 col-lg-3">Date of approval from Narcotics Head office : </div>
                            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="NarcApvlDate" name="NarcApvlDate" placeholder="dd/mm/yyyy">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <fieldset class="panel-border">
                        <legend class="panel-border">Upload Documents :</legend>
                        <div class="row">
                            <div class="col-sm-2">
                                Document Name<span style="color: red">*</span>:
                            </div>
                            <div class="col-sm-3">
                                <select id="DocumentName" name="DocumentName" class="form-control">
                                    <option value="">Select Any</option>
                                    <option value="DGDA Recommendation Letter">DGDA Recommendation Letter</option>
                                    <option value="District Office Letter">District Office Letter</option>
                                    <option value="Divisional Office Letter">Divisional Office Letter</option>
                                    <option value="DNC Head Office Approval Letter">DNC Head Office Approval Letter</option>
                                    <option value="Justification">Justification</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="file" class="txtBox" id="UploadFile" name="UploadFile" accept="application/pdf" />
                                <i class="fa fa-cloud-upload form-control-feedback"></i>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="row">
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>List of Document File</label>
                                <div id="Tab3FileGrid1" class=""></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="ViewPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowDosageForm" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridDosageForm" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowPackSize" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridPackSize" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowProductType" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridProductType" class="PopUpGrid"></div>
    </div>
    <div id="PopupWindowTherapeuticClass" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGridTherapeuticClass" class="PopUpGrid"></div>
    </div>
    <div id="ItemWindow" class="PopupWindowLayout" style="display: none;">
        <div id="ItemWindowGrid" class="PopUpGrid"></div>
    </div>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
    <p style="position: absolute; top: 50%; left: 42%; color: White;">
        Please wait... <img src="../../Content/Images/ajax-loader1.gif">
    </p>
</div>