@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />



<link href="~/Content/CSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        debugger;
        var activeTabIndex = 0; // Default to the first tab
        var ButtonEvent = ''; // Declare ButtonEvent as a global variable

        // Retrieve the active tab index from sessionStorage
        if (sessionStorage.getItem('activeTabIndex') !== null) {
            activeTabIndex = parseInt(sessionStorage.getItem('activeTabIndex'), 10);
        }

        // Handle specific tab options stored in sessionStorage
        var keyOption = sessionStorage.getItem('keyOption');
        if (keyOption === "Employment") {
            activeTabIndex = 2; // Employment tab
        } else if (keyOption === "Entry License Info") {
            activeTabIndex = 0; // EmpContactAddress tab
        }

        // Initialize the jQuery UI tabs widget
        $('#tabs').tabs({
            active: activeTabIndex,
            activate: function (event, ui) {
                // Save the active tab index in sessionStorage when the tab changes
                var newActiveTabIndex = $('#tabs').tabs("option", "active");
                sessionStorage.setItem('activeTabIndex', newActiveTabIndex);

                // Update ButtonEvent and call GetView for the active tab
                var activeTabText = $("#btnList li:nth-child(" + (newActiveTabIndex + 1) + ") a").text();
                sessionStorage.setItem('keyOption', activeTabText); // Store the active tab's text
                ButtonEvent = activeTabText; // Update the global variable
                GetView($('#CompanyCode').val(), ButtonEvent);

                // Highlight the active tab by adding the class and removing it from others
                $("#btnList li").removeClass('active-tab');
                $("#btnList li:nth-child(" + (newActiveTabIndex + 1) + ")").addClass('active-tab');
            }
        });

        // Populate fields with stored session data
        $('#CompanyCode').val(sessionStorage.getItem('keyCompanyCode'));


        // Initial content loading for the current tab
        var initialButtonEvent = sessionStorage.getItem('keyOption') || "Entry License Info";
        ButtonEvent = initialButtonEvent; // Initialize ButtonEvent
        GetView($('#CompanyCode').val(), ButtonEvent);

        // Mark the initially active tab
        $("#btnList li").removeClass('active-tab');
        $("#btnList li:nth-child(" + (activeTabIndex + 1) + ")").addClass('active-tab');

        // Tab click handler to update ButtonEvent and fetch content
        $("#btnList li").click(function () {
            ButtonEvent = $(this).text(); // Update the global variable
            GetView($('#CompanyCode').val(), ButtonEvent);

            // Highlight the clicked tab
            $("#btnList li").removeClass('active-tab');
            $(this).addClass('active-tab');
        });

     

        function GetView(CompanyCode, ButtonEvent) {
            switch (ButtonEvent) {
                case "Entry License Info":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;           
                case "View License":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "Entry GMP Certificate":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', false);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "View GMP Certificate":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                case "Products":
                    $('#btnReset').prop('disabled', false);
                    $('#btnSave').prop('disabled', true);
                    $('#btnView').prop('disabled', false);
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
                default:
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
            }
        }

        function GetCompanyDetails(URL, CompanyCode, ButtonEvent) {
            $.ajax({
                url: URL,
                data: JSON.stringify({ CompanyCode: CompanyCode, ButtonEvent: ButtonEvent }),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data.length > 0) {                       
                     SetDetailData(data);                        
                    }
                    else {                      
                            toastr.success("Data not found!");                        
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
            });
        }
        function SetDetailData(data) {
            if (!data || !Array.isArray(data) || data.length === 0) {
                toastr.error("No data found!");
                return;
            }
            for (var i = 0; i < data.length; i++) {
                const item = data[i];
                // Populate input fields dynamically
                $.each(item, function (key, value) {
                    $('#' + key).val(value);
                });             
               
               // toastr.success("Data found!");
            }
        }
        $('#btnView').click(function () {
            debugger;

            switch (ButtonEvent) {
                case "Entry License Info":
                    PopupWindowLincenseEntryTab.open();
                    PopupWindowLincenseEntryTab.center();

                    $.ajax({
                        url: '@Url.Action("GetAllInfo", "CompanyLicense")',
                        data: JSON.stringify({ CompanyCode: $("#CompanyCode").val() }),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data != "") {
                                $('#PopupWindowLincenseEntryTabGrid').data('kendoGrid').dataSource.data(data);
                            }
                            else {
                                PopupWindowLincenseEntryTab.close();
                                AcknowledgeMsg();
                            }

                        }
                    });
                    break;

                case "View License":
                    var checkInput = 0;//InputValidation('CompanyCode');
                    var model = {};
                    if (checkInput == 0) {
                        model.CompanyCode = $('#CompanyCode').val();
                        model.LicenseNo = $('#LicenseNo').val();
                        model.AlarmDays = $('#AlarmDays').val();
                        model.SubmissionType = $('#SubmissionType').val();
                        model.FromDate = $('#FromDate').val();
                        model.ToDate = $('#ToDate').val();
                        $.ajax({
                            url: '@Url.Action("GetInfoByParams", "CompanyLicense")',
                            data: JSON.stringify(model),
                            type: 'POST',
                            contentType: 'application/json;',
                            dataType: 'json',
                            success: function (data) {
                                $("#LicenseViewTabGrid1").data().kendoGrid.bind('dataBound', function (e) {
                                    this.element.find('tbody tr:first').addClass('k-state-selected');
                                });
                                $("#LicenseViewTabGrid1").data("kendoGrid").dataSource.data(data.dataMaster);

                                debugger;
                                $("#LicenseViewTabGrid2").data("kendoGrid").dataSource.data(data.dataLevel1);

                            }
                        }); //End of ajax call
                    }
                    else {
                        ValidationMsg();
                    }


                    break;

                case "Entry GMP Certificate":
                    GmpCerificateEntryTabPopupWindow.open();
                    GmpCerificateEntryTabPopupWindow.center();
                    $.ajax({
                        url: '@Url.Action("GetAllInfo", "GmpCertificate")',                
                        data: JSON.stringify({ CompanyCode: $("#CompanyCode").val() }),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data != "") {
                                $('#GmpCerificateEntryTabPopupWindowGrid').data('kendoGrid').dataSource.data(data);
                            }
                            else {
                                GmpCerificateEntryTabPopupWindow.close();
                                AcknowledgeMsg();
                            }

                        }
                    });
                    break;

                case "View GMP Certificate":
                    debugger;
                    var model = {};
                    var checkInput = InputValidation('CompanyCode');
                    if (checkInput == 0) {
                        model.CompanyCode = $('#CompanyCode').val();
                        model.AlarmDays = $('#AlarmDays').val();
                        model.LicenseNo = $('#LicenseNo').val();
                        model.SubmissionType = $('#SubmissionType').val();
                        model.FromDate = $('#FromDate').val();
                        model.ToDate = $('#ToDate').val();
                        $.ajax({
                            url: '@Url.Action("GetInfoByParams", "GmpCertificate")',
                            data: JSON.stringify(model),
                            type: 'POST',
                            contentType: 'application/json;',
                            dataType: 'json',
                            success: function (data) {
                                $("#GmpCerificateViewGrid1").data().kendoGrid.bind('dataBound', function (e) {
                                    this.element.find('tbody tr:first').addClass('k-state-selected');
                                });
                                $("#GmpCerificateViewGrid1").data("kendoGrid").dataSource.data(data.dataMaster);
                                $("#GmpCerificateViewGrid2").data("kendoGrid").dataSource.data(data.dataLevel1);
                            }
                        }); //End of ajax call
                    }
                    else {
                        ValidationMsg();
                    }
                    break;

                default:
                    GetCompanyDetails('/Regulatory/TabCompany/ViewModeCompany', CompanyCode, ButtonEvent);
                    break;
            }

        });

        //Tab1 Start 
        $('#btnRevision').click(function () {
            $('#CLID').val('');
            $('#CompLicenseSlNo').val('');
            $('#RevisionNo').val('');
            $("#SubmissionType ").val('Renewal');
            $("#divRenew").find('input, textarea, select').val('');
            $("#GmpCerificateEntryGrid1").data("kendoGrid").dataSource.data([]);

            $("#frameID").attr("height", 0);
            $("#frameID").attr("src", "");
        });

        var PopupWindowLincenseEntryTab = $("#PopupWindowLincenseEntryTab").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Values."
        }).data("kendoWindow").center();
        var PopupGrid = $('#PopupWindowLincenseEntryTabGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CLID",
                        fields: {
                            CLID: { type: "string" },
                        }
                    }
                },
                pageSize: 20,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel", { template: "<input type='text' id='txtPopupInput_LincenseEntryTabGrid'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: "100%",
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "CLID", hidden: true },
                 { field: "CompLicenseSlNo ", hidden: true, title: "SlNo", width: 70 },
                 { field: "CompanyCode", title: "Code", width: 70 },
                 { field: "CompanyName", title: "CompanyName", width: 140 },
                 { field: "RevisionNo", title: "RevisionNo", width: 75 },
                 { field: "SubmissionType", title: "SubmissionType", width: 100 },
                 { field: "LicenseNo", title: "LicenseNo", width: 80 },
                 { field: "SubmissionDate", hidden: true, title: "SubmissionDate", width: 80 },
                 { field: "InspectionDate", hidden: true, title: "InspectionDate", width: 80 },
                 { field: "ValidUpto", title: "ValidUpto", width: 80 },
                 { field: "ApprovalDate", title: "ApprovalDate", width: 80 },
                 { field: "AlarmDays", title: "AlarmDays", width: 60 }
            ]

        }).data('kendoGrid');

        $('#PopupWindowLincenseEntryTabGrid').dblclick(function () {
            debugger;
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            PopupWindowLincenseEntryTab.close();
            SetMasterData(selectRow);
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "CompanyLicense")',
                type: 'GET',
                //data: JSON.stringify({ "refLevel1": selectRow.CLID, "refLevel2": "" }),
                data: { refLevel1: selectRow.CLID },
                success: function (data) {
                    $("#LicenseEentryTabGrid1").data("kendoGrid").dataSource.data(data);
                }
            });
            $("#frameID").attr("height", 0);
            $("#frameID").attr("src", "");
        });

        //Produc Name wise Filter table row
        $("#txtPopupInput_LincenseEntryTabGrid").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowLincenseEntryTabGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "CompLicenseSlNo", operator: "contains", value: val },
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "SubmissionType", operator: "contains", value: val },
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "LicenseNo", operator: "contains", value: val },
                     { field: "ValidUpto", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "AlarmDays", operator: "contains", value: val }
                ]
            });
        });
        

        //Initializing Main page details Kendo Grid Colums
        var LicenseEentryTabGrid1 = $('#LicenseEentryTabGrid1').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "FileID",
                        fields: {
                            FileID: { editable: false },
                            FileCode: { editable: false },
                            Extention: { editable: false },
                            FileName: { editable: false },
                            RefNo: { editable: false },
                            FileSize: { editable: false },
                            SetOn: { editable: false },
                            SetByName: { editable: false }
                        }
                    }
                },
                pageSize: 10
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput_LicenseEentryTabGrid1'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            //height: 300,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            //template: "<a href='javascript:void(0)' style='text-decoration: underline;'   class='a:link btnLink'> ${RefNo} </a>",
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            //{ command: [{ name: "View", text: "View", imageClass: "	fa fa-eye", click: handleView_LicenseEentryTabGrid1 }], title: "Action", width: "90px", attributes: { "class": "" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", className: "ViewDownload", imageClass: "fa fa-cloud-download", click: handleDownload_LicenseEentryTabGrid1 }], title: "Action", width: "110px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Delete", text: "Delete", imageClass: "glyphicon glyphicon-trash", click: handleFileDelete_LicenseEentryTabGrid1 }], title: "Action", width: "100px", attributes: { "class": "btnDelete" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
            //,databound: onDataBound

        }).data('kendoGrid');

        $("#LicenseEentryTabGrid1").on("click", ".btnLink", function (e) {
            var grid = $("#LicenseEentryTabGrid1").data("kendoGrid");
            var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
   
            });

        function onDataBound(e) {

            var grid = $("#LicenseEentryTabGrid1").data("kendoGrid");
            var gridData = grid.dataSource.view();
            
            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                alert(gridData[i].RefNo);
                if (gridData[i].RefNo == "Inspection Letter") {
                    $("#LicenseEentryTabGrid1").find(".ViewDownload").addClass("k-state-disabled").removeClass('k-grid-Download');
                }
            }
        }
        $("#txtInput_LicenseEentryTabGrid1").keyup(function () {
            var val = $(this).val();
            $("#LicenseEentryTabGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        function handleFileDelete_LicenseEentryTabGrid1(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));

            if (confirm('Do you really want to delete this file?')) {
                //event.preventDefault();
                //event.stopPropagation();
                $.ajax({
                    url: '@Url.Action("DeleteFile", "General")',
                    type: 'POST',
                    data: JSON.stringify({ "fileId": dataItemInfo.FileID, "fileCode": dataItemInfo.FileCode, "extention": dataItemInfo.Extention }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        if (response.Status == "Yes") {
                            toastr.success(OperationMsg("FD"));
                            $("#GmpCerificateEntryGrid1").data("kendoGrid").dataSource.remove(dataItemInfo);
                        }
                        else {
                            toastr.error(OperationMsg("FND"));
                        }
                    }
                });
            }
        };
        // Download Button in Grid
        function handleDownload_LicenseEentryTabGrid1(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };
        // View Button in Grid
        function handleView_LicenseEentryTabGrid1(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            $.ajax({
                url: '@Url.Action("GetFileDetailPath", "General")',
                type: 'POST',
                data: JSON.stringify({ "fileId": dataItemInfo.FileID }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    var path = (data.RefNo + data.FileCode + data.Extention).substring(1);
                    path = path + '#toolbar=0&navpanes=0';
                    $("#frameID").attr("height", 550);
                    $("#frameID").attr("src", path);
                    window.location.hash = '#divIframe';
                }
            });

        };
        //Tab2 Start
       
        

        //Initializing Main page details Kendo Grid Colums
        var LicenseViewTabGrid1 = $('#LicenseViewTabGrid1').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "CLID",
                        fields: {
                            CLID: { editable: true },
                            RevisionNo: { editable: true },
                            SubmissionDate: { editable: false },
                            InspectionDate: { editable: false },
                            ApprovalDate: { editable: false },
                            ValidUpto: { editable: false },
                            AlarmDays: { editable: false }
                        }
                    }
                },
                pageSize: 20
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            height: 300,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInputLicense'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "CLID", hidden: true },
            { field: "CompanyCode", title: "CompanyCode", width: 80 },
            { field: "CompanyName", title: "CompanyName", width: 160 },
            { field: "RevisionNo", title: "RevisionNo", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "SubmissionType", title: "SubmissionType", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "SubmissionDate", title: "SubmissionDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "InspectionDate", title: "InspectionDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ApprovalDate", title: "ApprovalDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ValidUpto", title: "ValidUpto", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "AlarmDays", title: "AlarmDays", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "View", text: "View", imageClass: "fa fa-hand-o-right", click: handleView }], title: "Action", width: "120px", attributes: { "class": "btnView" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');
        var paramModel = { "refLevel1": "", "refLevel2": "" }

        function handleView(event) {
            debugger;
            var selectedRow = LicenseViewTabGrid1.dataItem($(event.currentTarget).closest("tr"));
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "CompanyLicense")',
                type: 'GET',
                data: { "refLevel1": selectRow.CLID, "refLevel2": "" },
                success: function (data) {
                    $("#LicenseEentryTabGrid1").data("kendoGrid").dataSource.data(data);
                }
            });
        };
        $('#LicenseViewTabGrid1').click(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            paramModel.refLevel1 = selectRow.CLID;
            paramModel.refLevel2 = selectRow.RevisionNo;
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "CompanyLicense")',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: "JSON",
                data: { "refLevel1": selectRow.CLID, "refLevel2": "" },
                success: function (data) {
                    $("#LicenseViewTabGrid2").data("kendoGrid").dataSource.data(data);
                }
            });
        });
        $("#txtInputLicense").keyup(function () {
            var val = $(this).val();
            $("#LicenseViewTabGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "SubmissionType", operator: "contains", value: val },
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "SubmissionDate", operator: "contains", value: val },
                     { field: "InspectionDate", operator: "contains", value: val },
                     { field: "ApprovalDate", operator: "contains", value: val },
                     { field: "ValidUpto", operator: "contains", value: val },
                     { field: "AlarmDays", operator: "contains", value: val }
                ]
            });
        });
        //To Define Data  for File Kendo Grid
       
        //Initializing Main page details Kendo Grid Colums
        var grid = $('#LicenseViewTabGrid2').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "FileID",
                        fields: {
                            FileID: { editable: false },
                            FileCode: { editable: false },
                            Extention: { editable: false },
                            FileName: { editable: false },
                            RefNo: { editable: false },
                            FileSize: { editable: false },
                            SetOn: { editable: false },
                            SetByName: { editable: false }
                        }
                    }
                },
                pageSize: 10
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            height: 300,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');

        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#LicenseEentryTabGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        // Download Button in Grid
        function handleDownload(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };
        //To select the first row as default & to clear the filter while loading the grid
        var dataItemInfo = {};
        //Tab2 End


        //Tab3 Start

        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#GmpCerificateEntryTabPopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { type: "string" },
                        }
                    }
                },
                pageSize: 20,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: ["excel", { template: "<input type='text' id='txtPopupInput_GmpCerificateEntryTab'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            excel: {
                fileName: "Export.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: "100%",
            // groupable: true,
            groupable: { messages: { empty: "Custom message text" } },
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
                 { field: "ID", hidden: true },
                 { field: "SlNo ", title: "SlNo", width: 70 },
                 { field: "CompanyCode", title: "Code", width: 70 },
                 { field: "CompanyName", title: "CompanyName", width: 140 },
                 { field: "RevisionNo", title: "RevisionNo", width: 60 },
                 { field: "SubmissionType", title: "SubmissionType", width: 100 },
                 { field: "LicenseNo", title: "LicenseType & No", width: 120 },
                 { field: "SubmissionDate", hidden: true, title: "SubmissionDate", width: 80 },
                 { field: "InspectionDate", hidden: true, title: "InspectionDate", width: 80 },
                 { field: "ValidUpto", title: "ValidUpto", width: 80 },
                 { field: "ApprovalDate", title: "ApprovalDate", width: 80 },
                 { field: "AlarmDays", title: "AlarmDays", width: 60 },

            ]

        }).data('kendoGrid');

        $('#GmpCerificateEntryTabPopupWindowGrid').dblclick(function () {

            debugger;
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            GmpCerificateEntryTabPopupWindow.close();
            SetMasterData(selectRow);
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "GmpCertificate")',
                type: 'GET',
                data: { refLevel1: selectRow.ID },
                success: function (data) {
                    $("#GmpCerificateEntryGrid1").data("kendoGrid").dataSource.data(data);
                }
            });
        });

        //Produc Name wise Filter table row
        $("#txtPopupInput_GmpCerificateEntryTab").keyup(function () {
            var val = $(this).val();
            $("#GmpCerificateEntryTabPopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "SlNo", operator: "contains", value: val },
                     { field: "CompanyCode", operator: "contains", value: val },
                     { field: "SubmissionType", operator: "contains", value: val },
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "LicenseNo", operator: "contains", value: val },
                     { field: "ValidUpto", operator: "contains", value: val },
                     { field: "CompanyName", operator: "contains", value: val },
                     { field: "AlarmDays", operator: "contains", value: val }
                ]
            });
        });

        //Display window
        var GmpCerificateEntryTabPopupWindow = $("#GmpCerificateEntryTabPopupWindow").kendoWindow({
            actions: ["Minimize", "Maximize", "Close"],
            width: "90%",
            height: "80%",
            draggable: true,
            modal: true,
            title: "List of Record."
        }).data("kendoWindow");


     
        //Initializing Main page details Kendo Grid Colums
        var grid = $('#GmpCerificateEntryGrid1').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "FileID",
                        fields: {
                            FileID: { editable: false },
                            FileCode: { editable: false },
                            Extention: { editable: false },
                            FileName: { editable: false },
                            RefNo: { editable: false },
                            FileSize: { editable: false },
                            SetOn: { editable: false },
                            SetByName: { editable: false }
                        }
                    }
                },
                pageSize: 10
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput_GmpCerificateEntry'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload_GmpCerificateEntry }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Delete", text: "Delete", imageClass: "glyphicon glyphicon-trash", click: handleFileDelete_GmpCerificateEntry }], title: "Delete Action", width: "120px", attributes: { "class": "btnDelete" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]

        }).data('kendoGrid');

        $("#txtInput_GmpCerificateEntry").keyup(function () {
            var val = $(this).val();
            $("#GmpCerificateEntryGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        function handleFileDelete_GmpCerificateEntry(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));

            if (confirm('Do you really want to delete this file?')) {
                //event.preventDefault();
                //event.stopPropagation();
                $.ajax({
                    url: '@Url.Action("DeleteFile", "General")',
                    type: 'POST',
                    data: JSON.stringify({ "fileId": dataItemInfo.FileID, "fileCode": dataItemInfo.FileCode, "extention": dataItemInfo.Extention }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    success: function (response) {
                        if (response.Status == "Yes") {
                            toastr.success(OperationMsg("FD"));
                            $("#GmpCerificateEntryGrid1").data("kendoGrid").dataSource.remove(dataItemInfo);
                        }
                        else {
                            toastr.error(OperationMsg("FND"));
                        }
                    }
                });
            }
        };
        // Download Button in Grid
        function handleDownload_GmpCerificateEntry(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };



        //Tab4 Start
        //To Define Data  for License info Kendo Grid
        

        //Initializing Main page details Kendo Grid Colums
        var GmpCerificateViewGrid1 = $('#GmpCerificateViewGrid1').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            ID: { editable: true },
                            RevisionNo: { editable: true },
                            SubmissionDate: { editable: false },
                            InspectionDate: { editable: false },
                            ApprovalDate: { editable: false },
                            ValidUpto: { editable: false },
                            AlarmDays: { editable: false }
                        }
                    }
                },
                pageSize: 20
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            height: 300,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput_GmpCerificateViewGrid1'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "ID", hidden: true },
            { field: "RevisionNo", title: "RevisionNo", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "SubmissionType", title: "SubmissionType", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "SubmissionDate", title: "SubmissionDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "InspectionDate", title: "InspectionDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ApprovalDate", title: "ApprovalDate", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "ValidUpto", title: "ValidUpto", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "AlarmDays", title: "AlarmDays", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "View", text: "View", imageClass: "fa fa-hand-o-right", click: handleView_GmpCerificateViewGrid1 }], title: "Action", width: "120px", attributes: { "class": "btnView" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');
        var paramModel = { "refLevel1": "", "refLevel2": "" }
        // Download Button in Grid
        function handleView_GmpCerificateViewGrid1(event) {
            var selectedRow = GmpCerificateViewGrid1.dataItem($(event.currentTarget).closest("tr"));

            $.ajax({
                url: '@Url.Action("GetFileByRefId", "GmpCertificate")',
                type: 'GET',
                data: { "refLevel1": selectRow.ID, "refLevel2": "" },
                success: function (data) {
                    $("#GmpCerificateViewGrid2").data("kendoGrid").dataSource.data(data);
                }
            });
        };

        $('#GmpCerificateViewGrid1').click(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            paramModel.refLevel1 = selectRow.ID;
            paramModel.refLevel2 = selectRow.RevisionNo;
            $.ajax({
                url: '@Url.Action("GetFileByRefId", "GmpCertificate")',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: "JSON",
                data: { "refLevel1": selectRow.ID, "refLevel2": "" },
                success: function (data) {
                    $("#GmpCerificateViewGrid2").data("kendoGrid").dataSource.data(data);
                }
            });
        });

        $("#txtInput_GmpCerificateViewGrid1").keyup(function () {
            var val = $(this).val();
            $("#GmpCerificateViewGrid1").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RevisionNo", operator: "contains", value: val },
                     { field: "SubmissionType", operator: "contains", value: val },
                     { field: "SubmissionDate", operator: "contains", value: val },
                     { field: "InspectionDate", operator: "contains", value: val },
                     { field: "ApprovalDate", operator: "contains", value: val },
                     { field: "ValidUpto", operator: "contains", value: val },
                     { field: "AlarmDays", operator: "contains", value: val }
                ]
            });
        });

        //To Define Data  for File Kendo Grid
     

        //Initializing Main page details Kendo Grid Colums
        var grid = $('#GmpCerificateViewGrid2').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "FileID",
                        fields: {
                            FileID: { editable: false },
                            FileCode: { editable: false },
                            Extention: { editable: false },
                            FileName: { editable: false },
                            RefNo: { editable: false },
                            FileSize: { editable: false },
                            SetOn: { editable: false },
                            SetByName: { editable: false }
                        }
                    }
                },
                pageSize: 10
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: true,
            selectable: "row",
            toolbar: [{ template: "<input type='text' id='txtInput_GmpCerificateView'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            groupable: true,
            columnMenu: true,
            reorderable: true,
            resizable: true,
            columns: [
            { field: "FileID", hidden: true },
            { field: "FileCode", hidden: true },
            { field: "Extention", hidden: true },
            { field: "RefNo", title: "Document Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileName", title: "File Name", width: 350, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { field: "FileSize", filterable: false, title: "Size(MB)", width: 100, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } },
            { command: [{ name: "Download", text: "Download", imageClass: "glyphicon glyphicon-download", click: handleDownload_GmpCerificateView }], title: "Download Action", width: "120px", attributes: { "class": "btnDownload" }, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;" } }
            ]
        }).data('kendoGrid');

        $("#txtInput_GmpCerificateView").keyup(function () {
            var val = $(this).val();
            $("#GmpCerificateViewGrid2").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "RefNo", operator: "contains", value: val },
                     { field: "FileName", operator: "contains", value: val },
                     { field: "FileSize", operator: "contains", value: val }
                ]
            });
        });

        // Download Button in Grid
        function handleDownload_GmpCerificateView(event) {
            dataItemInfo = grid.dataItem($(event.currentTarget).closest("tr"));
            window.location.href = '@Url.Action("Download", "General")' + '?path=' + dataItemInfo.FileCode + dataItemInfo.Extention + '&fileName=' + dataItemInfo.FileName + '&fileId=' + dataItemInfo.FileID;
        };

    });

</script>

<script>
    $('#UploadFile').on('change', function (e) {
        var checkInput = InputValidation('RefNo');
        if (checkInput == 0) {
            var files = e.target.files;
            var refId = $("#CLID").val();
            if (refId != "") {
                var fileSize = 0;
                var fSizeStrg = "";
                $file = $("#UploadFile");
                for (var f = 0; f < files.length; f++) {
                    var iSize = ($file[0].files[f].size / 1024);
                    fileSize = (Math.round((iSize / 1024) * 100) / 100);
                    if (fSizeStrg != "") {
                        fSizeStrg += ',' + fileSize;
                    }
                    else {
                        fSizeStrg = fileSize;
                    }
                    if (iSize / 1024 > 25) {
                        iSize = (Math.round((iSize / 1024) * 100) / 100);
                        alert('File size is ' + iSize + ' MB');
                        $("#divLoading").show();
                        if (iSize > 25) {
                            toastr.warning(OperationMsg("UFW"));
                            $("#divLoading").hide();
                            return;
                        }
                    }
                }
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        $("#divLoading").show();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadFile", "CompanyLicense")' + '?refLevel1=' + refId + '&refLevel2=' + "" + '&fileSize=' + fSizeStrg + '&refNo=' + $("#RefNo").val(),
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#divLoading").hide();
                                if (result.msgType == "FUS") {
                                    toastr.success(OperationMsg(result.msgType));
                                    $("#LicenseViewTabGrid2").data("kendoGrid").dataSource.data(result.FileList);
                                    $("#RefNo").val('--Select Any--');
                                }
                                else if (result.msgType == "FLI") {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                                else {
                                    toastr.warning(OperationMsg(result.msgType));
                                }
                            }

                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
            else {
                toastr.warning(OperationMsg("FI"));
            }
        }
        else {
            toastr.error(OperationMsg("SDN"));
        }

    });

</script>
<div id="tabs">
    <ul id="btnList">
        <li><a href="#tabs-1">Entry License Info</a></li>
        <li><a href="#tabs-2">View License</a></li>
        <li><a href="#tabs-3">Entry GMP Certificate</a></li>
        <li><a href="#tabs-4">View GMP Certificate</a></li>
        <li><a href="#tabs-5">Products</a></li>
    </ul>
     
          
             <div class="box-header with-border">
                 <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                         <div class="input-group">
                             <input type="text" id="CompanyCode" name="CompanyCode" placeholder="Company Code" readonly="readonly" class="RequiredField form-control input-sm" />
                             <span class="input-group-btn" style="width:0px;"></span>
                             <input type="text" id="CompanyName" name="CompanyName" placeholder="Company Name" readonly="readonly" class="RequiredField form-control input-sm" />
                             <span class="input-group-btn" style="width:0px;"></span>
                             <input type="text" id="Address" name="Address" placeholder="Company Addess" readonly="readonly" class="RequiredField form-control input-sm" />
                            </div>
                     </div>
                     <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
                  
                 </div>
                 <div class="row">
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      
                     </div>
                     <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"><div id="MessageText" style="text-align:center"></div></div>
                     <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                         <div style="text-align:right;">
                             <button id="btnReset" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
                             <button id="btnSave" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save"></i>Save</button>
                             <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>View</button>
                       </div>
                     </div>
                 </div>
             </div>



             <div id="tabs-1">
                 <div class="row">                               
                         <div class="col-sm-2">Revision No :</div>
                         <div class="col-sm-3"><input type="text" id="RevisionNo" name="RevisionNo" placeholder="Auto" class="form-control" readonly /></div>
                         <div class="col-sm-2"><input type="hidden" id="CLID" name="CLID" class="txtBox" /></div>
                 </div>
                 <div class="form-group">
                     <div class="row">
                         <div class="col-sm-2">License Type & No<span style="color: red">*</span> :</div>
                         <div class="col-sm-3"><input type="text" id="LicenseNo" name="LicenseNo" class="form-control txtBox" /></div>
                         <div class="col-sm-2">Submission Type :</div>
                         <div class="col-sm-3">
                             <select id="SubmissionType" class="txtBox" disabled="disabled">
                                 <option selected="selected" value="License">License</option>
                                 <option value="Renewal">Renewal</option>
                             </select>
                         </div>
                         <div class="col-sm-2">
                             <button id="btnRevision" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-plus"></i>Renew</button>
                         </div>
                     </div>
                     <fieldset class="panel-border" id="divRenew">
                         <legend class="panel-border">License/Renew Info :</legend>
                         <div class="form-group">
                             <div class="row">
                                 <div class="col-sm-1"> </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Submission Date : </div>
                                 <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                     <div class="input-group date">
                                         <input type="text" class="form-control" id="SubmissionDate" name="SubmissionDate" placeholder="dd/mm/yyyy">
                                         <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                 </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Factory Inspection Date: </div>
                                 <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                     <div class="input-group date">
                                         <input type="text" class="form-control" id="InspectionDate" name="InspectionDate" placeholder="dd/mm/yyyy">
                                         <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="row">
                                 <div class="col-sm-1"> </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Approval/Renewal Date : </div>
                                 <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                     <div class="input-group date">
                                         <input type="text" class="form-control" id="ApprovalDate" name="ApprovalDate" placeholder="dd/mm/yyyy">
                                         <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                 </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Alarm Days : </div>
                                 <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                     <input type="text" id="AlarmDays" name="AlarmDays" maxlength="5" placeholder="Alarm Days" class="txtBox form-control numeric " />
                                 </div>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="row">
                                 <div class="col-sm-1"> </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Valid Up To </div>
                                 <div class="col-sm-3">
                                     <div class="input-group date">
                                         <input type="text" class="form-control txtBox" id="ValidUpto" name="ValidUpto" placeholder="dd/mm/yyyy">
                                         <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                     </div>
                                 </div>
                                 <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Entry Date : </div>
                                 <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                                     <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" readonly>
                                 </div>
                             </div>
                         </div>
                     </fieldset>

                     <div class="row">
                         <div class="col-sm-12">
                             <fieldset class="panel-border">
                                 <legend class="panel-border">Upload Documents :</legend>
                                 <div class="row">
                                     <div class="col-sm-2">
                                         Document Name<span style="color: red">*</span>:
                                     </div>
                                     <div class="col-sm-3">
                                         <select id="RefNo" class="form-control txtBox" tabindex="" name="RefNo">
                                             <option value="">--Select Any--</option>
                                             <option value="Inspection Letter">Inspection Letter</option>
                                             <option value="Inspection Report">Inspection Report</option>
                                             <option value="Original License">Original License</option>
                                             <option value="License Renewal Letter">License Renewal Letter</option>
                                             <option value="List of Annexure">List of Annexure</option>
                                             <option value="List of Technical Person">List of Technical Person</option>
                                             <option value="List of Machineries">List of Machineries</option>
                                         </select>
                                     </div>
                                     <div class="col-sm-4">
                                         <input type="file" class="txtBox" id="UploadFile" name="UploadFile" />
                                         <i class="fa fa-cloud-upload form-control-feedback"></i>
                                     </div>
                                     <div class="col-sm-3">
                                     </div>
                                 </div>
                                 <div class="row">
                                     <br />
                                 </div>
                                 <div class="row">
                                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                         <label>List of Document File</label>
                                         <div id="LicenseEentryTabGrid1" class=""></div>
                                     </div>
                                 </div>
                             </fieldset>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-sm-9">
                     </div>
                     <div class="col-sm-3">
                         <a class="btn btn-primary btn-md" href='@Url.Action("frmCompanyLicenseView", "CompanyLicense")'>Click here to display All Report</a>
                     </div>
                 </div>
                 <div class="row" id="divIframe">
                     <iframe id="frameID" src="" style="width: 100%;" frameborder="0"></iframe>
                 </div>
                 <div class="row">
                     <div id="PopupWindowLincenseEntryTab" class="PopupWindowLayout" style="display: none;">
                         <div id="PopupWindowLincenseEntryTabGrid" class="PopUpGrid"></div>
                     </div>

                 
                 </div>






             </div> @*tab1 closed*@
         
          


 
    <div id="tabs-2">
        <div class="box-header with-border">
            @*Form Title*@
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div id="MessageText"></div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
                @*<div style="text-align:right;">
                    <button id="btnSearch" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>Search</button>
                    <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
                </div>*@
            </div>
        </div>
        <div class="box-body">
            @*<div class="form-group">
                <div class="row">
                    <div class="col-sm-2">Company Code : </div>
                    <div class="col-sm-2">
                        <input type="text" id="CompanyCode" name="CompanyCode" class="form-control txtBox" readonly />
                    </div>
                    <div class="col-sm-1"><button id="btnFind" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-search"></i>Search</button></div>
                    <div class="col-sm-2">Company Name :</div>
                    <div class="col-sm-5"><input type="text" id="CompanyName" name="CompanyName" class="form-control" readonly /></div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">Submission Type :</div>
                    <div class="col-sm-3">
                        <select id="SubmissionType" class="txtBox">
                            <option selected value="All">All</option>
                            <option value="License">License</option>
                            <option value="Renewal">Renewal</option>
                        </select>
                    </div>
                    <div class="col-sm-2">Expired Within :</div>
                    <div class="col-sm-2"><input type="text" id="AlarmDays" name="AlarmDays" class="form-control txtBox numeric" maxlength="3" placeholder="days" /></div>

                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">Submission From Date : </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="FromDate" name="FromDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-2">Submission To Date : </div>
                    <div class="col-sm-3">
                        <div class="input-group date">
                            <input type="text" class="form-control txtBox" id="ToDate" name="ToDate" placeholder="dd/mm/yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <fieldset class="panel-border" id="divRenew">
                    <legend class="panel-border">License/Renewal Information :</legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="LicenseViewTabGrid1" class=""></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset class="panel-border">
                            <legend class="panel-border">Document Information :</legend>
                            <div class="row">
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>List of Document File</label>
                                    <div id="LicenseViewTabGrid2" class=""></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
    
      
        @*Tab2 Closed*@
    </div>
    <div id="tabs-3">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">License Type & No<span style="color: red">*</span> :</div>
                <div class="col-sm-3"><input type="text" id="LicenseNo" name="LicenseNo" class="form-control txtBox" /></div>
                <div class="col-sm-2">Submission Type :</div>
                <div class="col-sm-3">
                    <select id="SubmissionType" class="txtBox" disabled="disabled">
                        <option selected="selected" value="License">License</option>
                        <option value="Renewal">Renewal</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button id="btnRevision" class="btn btn-primary btn-md" type="button"><i class="glyphicon glyphicon-plus"></i>Renew</button>
                </div>
            </div>
            <fieldset class="panel-border" id="divRenew">
                <legend class="panel-border">Renew Info :</legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Submission Date : </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="SubmissionDate" name="SubmissionDate" placeholder="dd/mm/yyyy">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Factory Inspection Date: </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="InspectionDate" name="InspectionDate" placeholder="dd/mm/yyyy">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Approval Date : </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="ApprovalDate" name="ApprovalDate" placeholder="dd/mm/yyyy">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Alarm Days : </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <input type="text" id="AlarmDays" name="AlarmDays" maxlength="5" placeholder="Alarm Days" class="txtBox form-control numeric " />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Valid Up To : </div>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                <input type="text" class="form-control txtBox" id="ValidUpto" name="ValidUpto" placeholder="dd/mm/yyyy">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Entry Date : </div>
                        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                            <input type="text" class="form-control" id="RevisionDate" name="RevisionDate" readonly>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-sm-12">
                    <fieldset class="panel-border">
                        <legend class="panel-border">Document File Upload Info :</legend>
                        <div class="row">
                            <div class="col-sm-2">
                                Document Name<span style="color: red">*</span>:
                            </div>
                            <div class="col-sm-3">
                                <select id="RefNo" class="form-control txtBox" tabindex="" name="RefNo">
                                    <option value="">--Select Any--</option>
                                    <option value="Inspection Letter">Inspection Letter</option>
                                    <option value="Inspection Report">Inspection Report</option>
                                    <option value="GMP Certificate">GMP Certificate</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="file" class="txtBox" id="UploadFile" name="UploadFile" />
                                <i class="glyphicon glyphicon-upload form-control-feedback"></i>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        <div class="row">
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>List of Uploaded Document File</label>
                                <div id="GmpCerificateEntryGrid1" class=""></div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-md" href='@Url.Action("frmGmpCertificateView", "GmpCertificate")'>Click here to display All Report</a>
            </div>
        </div>
   
   
    <div class="row">
        <div id="GmpCerificateEntryTabPopupWindow" class="PopupWindowLayout" style="display: none;">
            <div id="GmpCerificateEntryTabPopupWindowGrid" class="PopUpGrid"></div>
        </div>

   
    </div>

   
   </div>
             <div id="tabs-4">
                 <div class="form-group">
                     <div class="row">
                         <div class="col-sm-2">Submission Type :</div>
                         <div class="col-sm-3">
                             <select id="SubmissionType" class="txtBox">
                                 <option selected value="All">All</option>
                                 <option value="License">License</option>
                                 <option value="Renewal">Renewal</option>
                             </select>
                         </div>
                         <div class="col-sm-2">Expired Within :</div>
                         <div class="col-sm-2"><input type="text" id="AlarmDays" name="AlarmDays" class="form-control txtBox numeric" maxlength="3" placeholder="days" /></div>

                         <div class="col-sm-3">
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="row">
                         <div class="col-sm-2">Submission From Date : </div>
                         <div class="col-sm-3">
                             <div class="input-group date">
                                 <input type="text" class="form-control txtBox" id="FromDate" name="FromDate" placeholder="dd/mm/yyyy">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                             </div>
                         </div>
                         <div class="col-sm-2">Submission To Date : </div>
                         <div class="col-sm-3">
                             <div class="input-group date">
                                 <input type="text" class="form-control txtBox" id="ToDate" name="ToDate" placeholder="dd/mm/yyyy">
                                 <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                             </div>
                         </div>
                         <div class="col-sm-2">
                         </div>
                     </div>
                 </div>
                 <div class="form-group">
                     <fieldset class="panel-border" id="divRenew">
                         <legend class="panel-border">License/Renewal Information :</legend>
                         <div class="form-group">
                             <div class="row">
                                 <div class="col-sm-12">
                                     <div id="GmpCerificateViewGrid1" class=""></div>
                                 </div>
                             </div>
                         </div>
                     </fieldset>
                     <div class="row">
                         <div class="col-sm-12">
                             <fieldset class="panel-border">
                                 <legend class="panel-border">Document Information :</legend>
                                 <div class="row">
                                     <br />
                                 </div>
                                 <div class="row">
                                     <div class="col-sm-12">
                                         <label>List of Uploaded Document File</label>
                                         <div id="GmpCerificateViewGrid2" class=""></div>
                                     </div>
                                 </div>
                             </fieldset>
                         </div>
                     </div>
                 </div>
             <div id="tabs-5">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><label class="control-label required">Father Name:</label></div>
    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"><input type="text" id="FatherName" name="FatherName" placeholder="FatherName" class="RequiredField form-control" /></div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"><label class="control-label required">Mother Name:</label></div>
    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"><input type="text" id="MotherName" name="MotherName" placeholder="MotherName" class="RequiredField form-control" /></div>
</div></div>
         
</div>
